:root {
  --primary-color: #B5C7CB;
  --secondary-color: #6D7983;
  --background-color: #DADFE1;
  --custom-black: #333333;
  --dark-gray: #69686C;
}


.App {
  text-align: center;
  background-color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  height: 200px;
  background-color: var(--background-color);

  .App-subheader {
    font-size: calc(10px + 1.2vmin);
    color: black;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
